:root {
  --background_color:rgba(255, 255, 255, 0.998);
  --text_color: rgba(0, 0, 0, 0.95);
  --design_Text: #115173;
  --animation_Text: #115173;
  --paragraph_Text: #888888;
}
[data-theme="dark"] {
  --background_color:rgba(0, 0, 0, 0.95);
  --text_color: rgba(255, 255, 255, 0.998);
  --design_Text: #16fc38;
  --animation_Text: #16fc38;
  --paragraph_Text: #888888;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: var(--text_color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background_color);
  overflow: hidden;
  display: block;
}
h1 {
  color: var(--text_color);
}
h1::after {
  color: var(--design_Text);
}
h1::before {
  color: var(--design_Text);
}
h2 {
  color: var(--text_color);
}
.flat-button {
  color: var(--design_Text);
  border: var(--design_Text);
}
.flat-button:hover {
  background-color: var(--design_Text);
  color: var(--background_color);
}
.tags {
  color: var(--design_Text);
}
.text-animate-hover:hover {
  color: var(--animation_Text);
}
.floatingBar{
  background-color: var(--background_color);
  border: 1px dashed var(--animation_Text);
}
.container.contact-page,
.container.about-page,
.container.portfolio-page h1 {
  color: var(--text_color);
}

.container.contact-page,
.container.about-page,
.container.portfolio-page p {
  color: var(--paragraph_Text);
}

input[type='text'],
input[type='email'] {
  background: var(--text_color);
  color: var(--background_color);
}

textarea {
  background: var(--text_color);
  color: var(--background_color);
}
.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}
.nav-bar{
  background-color: var(--background_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-bar nav a{
  color: var(--background_color);
}
.image-box .btn{
  background:var(--design_Text);
  border:2px solid var(--design_Text);
  
}
.image-box .btn:hover {
  background:var(--design_Text);
  color: #000;
}

.image-box:after {
  background: linear-gradient(180deg, var(--design_Text), #000);
}
.nav-bar nav a:hover{
  color: var(--design_Text);
}
.nav-bar nav a.active svg{
  color: var(--animation_Text);
}
